---
import HtmlIcon from "./icons/HtmlIcon.astro";
import CssIcon from "./icons/CssIcon.astro";
import JsIcon from "./icons/JsIcon.astro";
import JavaIcon from "./icons/JavaIcon.astro";
import SqlIcon from "./icons/SqlIcon.astro";
import MysqlIcon from "./icons/MysqlIcon.astro";
import BootstrapIcon from "./icons/BootstrapIcon.astro";

const TAGS = {
    HTML: {
        name: "HTML",
        class: "bg-[#fff]/10 text-[#fff]",
        icon: HtmlIcon,
    },
    CSS: {
        name: "CSS",
        class: "bg-[#fff]/10 text-[#fff]",
        icon: CssIcon,
    },
    JS: {
        name: "Javascript",
        class: "bg-[#fff]/10 text-[#fff]",
        icon: JsIcon,
    },
    JAVA: {
        name: "Java",
        class: "bg-[#fff]/10 text-[#fff]",
        icon: JavaIcon,
    },
    SQL: {
        name: "SQL Server",
        class: "bg-[#fff]/10 text-[#fff]",
        icon: SqlIcon,
    },
    MYSQL:{
        name: "MySql",
        class: "bg-cyan-800/10 text-[#fff]",
        icon: MysqlIcon,
    },
    BOOTSTRAP:{
        name: "Bootstrap",
        class: "bg-[#fff]/10 text-[#fff]",
        icon: BootstrapIcon,
    },
};

const PROJECTS = [
    {
        title: "Matricula Web",
        description:
            "La implementación de un sistema de matrícula en línea ofrece numerosas ventajas que respaldan su justificación en instituciones educativas. ",
        link: "#",
        github: "#",
        image: "/projects/matriculaAlumnos.png",
        tags: [TAGS.JAVA, TAGS.MYSQL, TAGS.JS, TAGS.BOOTSTRAP],
    },
    {
        title: "Pagina web Bebitus",
        description:
            "El presente proyecto consiste en la creación de una página web para la venta de ropa infantil de la tienda “Bebitus” a través de internet. Se basa en la necesidad de una pequeña tienda de ropa en poder mostrar sus productos en internet, hacer conocida la marca y así incrementar sus ventas anuales",
        link: "#",
        github: "https://github.com/Ruben-AngelDev",
        image: "/projects/img-bebitus.png",
        tags: [TAGS.HTML, TAGS.CSS, TAGS.JS, TAGS.BOOTSTRAP],
    },
    {
        title: "Sistema de Ventas-Farmacia",
        description:
            "La implementación de un sistema de registros el cual registrará las ventas a diario por cliente, así como sus registros como cliente del establecimiento y un detalle de boletas el cual será almacenado y guardado en una Base de datos local. Este sistema ofrece numerosas ventajas que respaldan su justificación en farmacéuticas como “La Remediosa”.",
        github: "#",
        image: "/projects/registroDatos.png",
        tags: [TAGS.JAVA, TAGS.SQL],
    },
];
---
<div class="flex flex-wrap justify-center gap-x-10"> 
{
    PROJECTS.map(({ title, description, github, tags, image }) => (
    <article class="max-w-sm rounded overflow-hidden mx-2 my-4 h-[150] flex flex-col justify-between shadow-2xl shadow-white/10">
    <img class="w-full hover:scale-105" src={image} alt="Proyectos AngelDev">
    <div class="px-6 py-4 mb-auto">
      <h3 class="text-[#fff] font-bold text-xl mb-2">{title}</h3>
      <p class="text-[#B6BBC4] text-base text-balance line-clamp-5 max-lg:hidden">
        {description}
      </p>
    </div>
    <ul class="flex mb-4 flex-wrap">
        {tags.map((tag) => (
            <li>
                <span
                    class={`flex gap-x-2 rounded-full text-sm text-center ${tag.class} py-1 px-2 mx-2 my-2`}
                >
                    <tag.icon class="size-5" />
                    {tag.name}
                </span>
            </li>
        ))}
    </ul>
    <a href={github}  rel="noopener noreferrer" target="_blank" class="bg-blue-500 text-white py-2 px-4 rounded-full mx-2 my-2 hover:bg-blue-600 transition-colors duration-300 text-center">
        Ver en GitHub
    </a>
</article>
    ))
}
</div>
